#novel_color {
  width: 100%;
}
#novel_honbun {
  position: relative;
  width: 97vw;
  writing-mode: vertical-rl;
  font-family: 'Noto Serif JP', serif;
  overflow-y: scroll;
  //background-color: #edf7ff;
  //-ms-overflow-style: none;
  //scrollbar-width: none;
}

.novel_subtitle {
  margin: 0 24px;
}

.novel_title {
  margin: 0 24px;
}

#page_top {
  display: unset !important;
}
//#novel_honbun::-webkit-scrollbar {
//}
