.dropDown {
  position: fixed;
  top: 0;
  right: 10px;
  width: 370px;
  justify-content: flex-end;
  z-index: 100;
}

.tab-wrap {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 700px;
  margin-left: 20px;
}

.tab-wrap .tab-content {
  display: flex;
  flex-flow: column;
  position: absolute;
  background-color: antiquewhite;
  top: 22px;
  width: 370px;
  margin-top: 1px;
  border: solid;
}

.tab-wrap .tab-content textarea {
  width: 100%;
  height: 250px;
  resize: none;
  box-sizing: border-box;
}

.ngButton {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: 0.4s;
}

.ngButton:hover {
  background: #67c5ff;
  color: white;
}
